<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.demo.wpq.mydemo">

    <!-- 扫码 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".animation.AnimationActivity"/>
        <activity android:name=".animation.ObjectAnimatorActivity"/>
        <activity android:name=".animation.LayoutAnimationActivity"/>
        <activity android:name=".qrcode.CaptureActivity"/>
        <activity android:name=".qrcode.ResultActivity"/>
        <activity android:name=".qrcode.QRCodeCreateActivity"/>
        <activity android:name=".customview.CustomViewActivity"/>
        <activity android:name=".listview_and_recyclerview.ListViewAndRecyclerViewActivity"/>
        <activity android:name=".listview_and_recyclerview.listview_header.ListViewHeaderActivity"/>
        <activity android:name=".customview.TopBarActivity"/>
        <activity android:name=".RequestPermissionActivity"/>
        <activity android:name=".listview_and_recyclerview.todolist.TodoActivity"/>
        <activity android:name=".listview_and_recyclerview.recyclerview_wrap_recyclerview.ComplexRecyclerViewActivity"/>
        <activity android:name=".listview_and_recyclerview.timeline.TimeLineActivity"/>
        <activity android:name=".customview.LinkedListViewActivity"/>
        <activity android:name=".listview_and_recyclerview.linked_recyclerview.LinkedRVActivity"/>
        <activity android:name=".customview.TreeViewActivity"/>
        <activity android:name=".customview.SkewActivity"/>
        <activity android:name=".customview.ScaledImageViewActivity"/>
        <activity android:name=".retrofit.RetrofitActivity"/>
        <activity android:name=".animation.TeethActivity"/>
        <activity android:name=".WebActivity"/>
        <!-- eventbus -->
        <activity android:name=".eventbus.EventBusFirstActivity"/>
        <activity android:name=".eventbus.EventBusSecondActivity"/>
        <activity android:name=".KeyboardActivity" android:windowSoftInputMode="adjustResize|stateHidden"/>

        <service
            android:name=".ipc.RemoteService"
            android:process=":remote"/>
        <activity android:name=".ipc.ClientActivity"/>
    </application>

</manifest>
