<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.wpq.mydemo"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- 扫码 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".animation.AnimationActivity"
            android:label="@string/animation"
            >
        </activity>

        <activity
            android:name=".animation.ObjectAnimatorActivity"
            android:label="@string/object_animator"
            >
        </activity>

        <activity
            android:name=".animation.LayoutAnimationActivity"
            android:label="@string/layout_animation"
            >
        </activity>

        <activity
            android:name=".qrcode.CaptureActivity"
            android:label="@string/qrcode"
            >
        </activity>

        <activity
            android:name=".qrcode.ResultActivity"
            android:label="@string/qrcode_result"
            >
        </activity>
        <activity
            android:name=".qrcode.QRCodeCreateActivity"
            android:label="@string/qrcode_create"
            >
        </activity>
        <activity
            android:name=".customview.CustomViewActivity"
            android:label="@string/customview"
            >
        </activity>
        <activity
            android:name=".customview.TopBarActivity"
            android:label="@string/simple"
            >
        </activity>
        <activity
            android:name=".RequestPermissionActivity"
            android:label="@string/requestPermission">
        </activity>
        <activity android:name=".todolist.TodoActivity"
            android:label="@string/todolist_mvc">
        </activity>
        <activity android:name=".customview.LinkedListViewActivity" android:label="@string/linkedListView" />
        <activity android:name=".retrofit.RetrofitActivity" android:label="@string/retrofit" />

        <activity
            android:name=".TeethActivity"
            android:label="@string/teeth"
            >
        </activity>

        <service android:name=".RemoteService" android:process=":remote" />
        <activity android:name=".ClientActivity" android:label="@string/aidl" />
    </application>

</manifest>
